<div class="panel panel-default">
    <br>
    <h5>Your Received Proposals</h5>
    <table class="table table-striped">
        <thead>
            <tr class="tr">
                <th scope="col">Skill Name</th>
                <th scope="col">Sent from User</th>
                <th scope="col">User Email</th>
                <th scope="col">Contact No.</th>
                <th scope="col">Accept/Reject</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let proposalData of mentorProposalList">
                <td>
                    <app-detail-skill-item [skillId]="proposalData.skillId" [showProperty]="'skillName'">
                    </app-detail-skill-item>
                </td>
                <td>
                    <app-detail-user-item [userId]="proposalData.userId" [showProperty]="'userName'">
                    </app-detail-user-item>
                </td>
                <td>
                    <app-detail-user-item [userId]="proposalData.userId" [showProperty]="'userEmail'">
                    </app-detail-user-item>
                </td>
                <td>
                    <app-detail-user-item [userId]="proposalData.userId" [showProperty]="'contactNumber'">
                    </app-detail-user-item>
                </td>
                <td *ngIf="proposalData.mentorProposal != null">
                    {{(proposalData.mentorProposal == true) ? 'Accepted' : 'Rejected'}} 
                </td>
                <td *ngIf="proposalData.mentorProposal == null">
                    <app-proposal-mentor-btn [proposalData]="proposalData" (retProposalData)="handleRetProposalData($event)"></app-proposal-mentor-btn>
                </td>
            </tr>
        </tbody>
    </table>
</div>