<h1>Mentor Sign Up</h1>

<form (ngSubmit)=onSubmit(f) #f="ngForm">

  <div class="col-md-6 offset-6 d-lg-inline-block align-top uk-grid-margin">
    <div class="float-right">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign Up</button>
    </div>
  </div>
  <p></p>
  <div class="col-md-6 d-lg-inline-block align-top">
    <div class="shadow mb-5 p-5 bg-white rounded">
      <fieldset id="bfedit">
        <div class="form-group">
          <label for="mentorEmail">Email: </label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="userEmail" placeholder="" ngModel name="userEmail"
              name="userEmail" required userEmail #userEmail=ngModel>
            <span *ngIf="!userEmail.valid && userEmail.touched">Please Enter a valid email</span>
          </div>
        </div>

        <div class="form-group">
          <label for="mentorPassword">Password: </label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="userPassword" placeholder="Password" ngModel
              name="userPassword" required minlength="8" #userPassword=ngModel>
            <span *ngIf="!userPassword.valid && userPassword.touched">Password should be of minimum of 8 letters</span>
          </div>
        </div>

        <div class="form-group">
          <label for="mentorName">Name: </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="userName" placeholder="your full name" ngModel name="userName"
              required>
          </div>
        </div>
        <div class="form-group">
          <label for="contactNumber">Contact Number: </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="contactNumber" ngModel name="contactNumber" required
              minlength="10" maxlength="11" pattern="^[0-9]*$" #contactNumber=ngModel>
            <span *ngIf="!contactNumber.valid && contactNumber.touched">Only numbers are allowed and should be of length
              10</span>
          </div>
        </div>
        <div class="form-group">
          <label for="userBirthday">Date Of Birth</label>
          <input type="date" class="form-control" id="userBirthday" ngModel name="userBirthday" required
            min="01-01-2010">
        </div>
      </fieldset>
    </div>
  </div>

  <div class="col-md-6 d-lg-inline-block align-top">
    <div class="shadow mb-5 p-5 bg-white rounded">
      <fieldset>
        <div class="form-group">
          <label for="mentorEmail">First Name: </label>
          <div class="col-sm-8">
            <input type="userFirstName" class="form-control" id="userFirstName" placeholder="" ngModel
              name="userFirstName" #userFirstName=ngModel>
          </div>
        </div>

        <div class="form-group">
          <label for="mentorEmail">Last Name: </label>
          <div class="col-sm-8">
            <input type="userLastName" class="form-control" id="userLastName" placeholder="" ngModel name="userLastName"
              required #email=ngModel>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>