<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mentor On Demand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCommon"
    *ngIf="isUserLoggedIn==='false' && isMentorLoggedIn==='false'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [routerLinkActive]="'/'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" [routerLinkActive]="'/mentor'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/mentor">Mentors</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/login">User Login</a>
          <a class="dropdown-item" routerLink="/mentorLogin">Mentor Login</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sign Up
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/userSignUp">User SignUp</a>
          <a class="dropdown-item" routerLink="/mentorSignUp">Mentor SignUp</a>
        </div>
      </li>

      <li class="nav-item" [routerLinkActive]="'about'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarMentorLoggedIn" *ngIf="isMentorLoggedIn==='true'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [routerLinkActive]="'/'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/mentorpage">Home</a>
      </li>

      <li class="nav-item" [routerLinkActive]="'/'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/mentorproposal">Proposal</a>
      </li>

      <li class="nav-item" [routerLinkActive]="'/mentortraining'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/mentortraining">Training</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/mentorpage">Update Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/" (click)="getMentorLogOut()">Logout</a>
        </div>

      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarUserLoggedIn" *ngIf="isUserLoggedIn==='true'">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [routerLinkActive]="'/'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/userpage">Home</a>
      </li>

      <li class="nav-item" [routerLinkActive]="'/userproposal'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/userproposal">Proposal</a>
      </li>

      <li class="nav-item" [routerLinkActive]="''" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="">Course</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/userpage">Update Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/" (click)="getUserLogOut()">Logout</a>
        </div>

      </li>
    </ul>
  </div>

</nav>