<div class="panel panel-default">
    <!-- Default panel contents -->
    <h5>Mentor List</h5>
    <!-- Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Mentor Name</th>
                <th scope="col">Experience</th>                
                <th scope="col">Email Address</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Rating</th>
                <th scope="col">Skills</th>
                <th scope="col">Proposal?</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr" *ngFor="let mentorData of mentorList" (click)="mentorElaborate(mentorData)">
                <td>{{mentorData.mentorName}}</td>
                <td>{{mentorData.mentorExperience}}</td>                
                <td>{{mentorData.mentorEmail}}</td>
                <td>{{mentorData.contactNumber}}</td>
                <td>{{mentorData.rating}}</td>
                <td>
                    <app-mentor-skills [mentorData]="mentorData"></app-mentor-skills>
                </td>

                <td>
                    <app-proposal-user-btn [isUserLoggedIn]="isUserLoggedIn" [userLoggedIn]="userLoggedIn" [mentorData]="mentorData"></app-proposal-user-btn>
                </td>
            </tr>
        </tbody>
    </table>
</div>