<div class="panel panel-default">
    <!-- Default panel contents -->
    <h5>Mentor List</h5>
    <!-- Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Mentor Name</th>
                <th scope="col">Experience</th>
                <th scope="col">Email Address</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Rating</th>
                <th scope="col">Skills</th>
                <th scope="col" *ngIf="isUserLoggedIn === 'true'">Proposal?</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr" *ngFor="let mentorData of mentorList">
                <td (click)="showMentorDetailModal(mentorData)">{{mentorData.mentorName}}</td>
                <td (click)="showMentorDetailModal(mentorData)">{{mentorData.mentorExperience}}</td>
                <td (click)="showMentorDetailModal(mentorData)">{{mentorData.mentorEmail}}</td>
                <td (click)="showMentorDetailModal(mentorData)">{{mentorData.contactNumber}}</td>
                <td (click)="showMentorDetailModal(mentorData)">{{mentorData.rating}}</td>
                <td (click)="showMentorDetailModal(mentorData)">
                    <app-mentor-skills [mentorData]="mentorData"></app-mentor-skills>
                </td>

                <td>
                    <app-proposal-user-btn [isUserLoggedIn]="isUserLoggedIn" [userLoggedIn]="userLoggedIn"
                        [mentorData]="mentorData" *ngIf="isUserLoggedIn === 'true'"></app-proposal-user-btn>
                </td>
            </tr>
        </tbody>
    </table>
</div>