.panel{
  font-size: medium;
  font-style: normal;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.panel .header {
  cursor: pointer;
  position: relative;
  left: 0;
  font-weight: bold;
  color: darkslateblue;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border: white;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
}

.table {
  font-size: medium;
  font-style: normal;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  table-layout: auto;
}

.table .header {
  cursor: pointer;
  position: relative;
  left: 0;
  font-weight: bold;
  color: darkslateblue;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border: white;
  border-style: solid;
  border-width: thin;
  border-radius: 4px;
}

.table .tr {
  cursor: pointer;
  position: relative;
  left: 0;
  
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border: white;
  border-style: solid;
  border-radius: 4px;
}
.table .tr:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.table .tr.selected {
  background-color: #CFD8DC;
  color: white;
}
.table .tr.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.table .td {
  white-space: nowrap;  
  border: white;
  border-style: solid;
}

.table .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}