<h1>Mentor Sign Up</h1>

<form (ngSubmit)=onSubmit(f) #f="ngForm">

    <div class="col-md-6 offset-6 d-lg-inline-block align-top uk-grid-margin">
        <div class="float-right">
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign Up</button>
        </div>
    </div>
    <p></p>
    <div class="col-md-6 d-lg-inline-block align-top">
        <div class="shadow mb-5 p-5 bg-white rounded">
            <fieldset id="bfedit">
                <div class="form-group">
                    <label for="mentorEmail">Email: </label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="mentorEmail" ngModel name="mentorEmail" required
                            mentorEmail #mentorEmail="ngModel">
                        <span class="" *ngIf="!mentorEmail.valid && mentorEmail.touched">Please Enter a valid
                            email</span>
                    </div>

                </div>

                <div class="form-group">
                    <label for="mentorPassword">Password: </label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="mentorPassword" ngModel name="mentorPassword"
                            placeholder="Password" required minlength="8" #mentorPassword="ngModel">
                        <span *ngIf="!mentorPassword.valid && mentorPassword.touched">Password should be of minimum of 8
                            letters</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mentorName">Name: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="mentorName" ngModel name="mentorName"
                            placeholder="your full name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactNumber">Contact Number: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="contactNumber" ngModel name="contactNumber"
                            placeholder="Your contact number" required minlength="10" maxlength="11" pattern="^[0-9]*$"
                            #contactNumber="ngModel">
                        <span *ngIf="!contactNumber.valid && contactNumber.touched">Only numbers are allowed and should
                            be
                            of length 10</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="mentorExperience">Years Of Experience: </label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="mentorExperience" ngModel name="mentorExperience"
                            required min=2 #mentorExperience="ngModel">
                        <span *ngIf="!mentorExperience.valid && mentorExperience.touched"></span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-md-6 d-lg-inline-block align-top">
        <div class="shadow mb-5 p-5 bg-white rounded">
            <label for="mentorSkills">Skills: </label>
            <div class="col-sm-8">
                <ng-multiselect-dropdown id="skills" name="skills" [placeholder]="'Your skills'" [data]="skillList"
                    [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>
        </div>
    </div>
</form>