<br>
<h5>Training Detail</h5>

<form [formGroup]="trainingForm">

    <div class="col-md-6 offset-6 d-lg-inline-block align-top uk-grid-margin">
        <div class="float-right">
            <button type="button" class="btn btn-outline-dark" *ngIf="trainingData.status === 'confirmed'"
                (click)="onConfirm()">Confirm</button>
            <button type="button" class="btn btn-outline-dark" (click)="onRating()">Rating</button>
        </div>
    </div>
    <p></p>

    <div class="col-md-6 d-lg-inline-block align-top">
        <div class="shadow mb-5 p-5 bg-white rounded">
            <fieldset>
                <div hidden class="form-group">
                    <input formControlName="trainingId" type="text" id="trainingId" class="form-control">
                </div>

                <div class="form-group">
                    <label for="skillName">Technology Name: </label>
                    <div class="col-sm-8 input-group">
                        <input formControlName="skillName" type="text" id="skillName" class="form-control" aria-label="skillName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="fee">Fee: </label>
                    <div class="col-sm-8 input-group">
                        <input formControlName="fee" type="text" id="fee" class="form-control" aria-label="fee">
                    </div>
                </div>

                <div class="form-group">
                    <label for="status">Status: </label>
                    <div class="col-sm-8 input-group">
                        <input formControlName="status" type="text" id="status" class="form-control"
                            aria-label="status">
                    </div>
                </div>

                <div class="form-group">
                    <label for="fee">Rating: </label>
                    <div class="col-sm-8 input-group">
                        <input formControlName="rating" type="text" id="rating" class="form-control"
                            aria-label="rating">
                    </div>
                </div>

                <div class="form-group">
                    <label for="progress">Progress: </label>
                    <div class="col-sm-8 input-group">
                        <input formControlName="progress" type="text" id="progress" class="form-control"
                            aria-label="progress">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-md-6 d-lg-inline-block align-top">
        <div class="shadow mb-5 p-5 bg-white rounded">
            <fieldset>
                <div class="form-group">
                    <label for="startDate">Start Date: </label>
                    <div class="col-sm-8 input-group">
                        <input type="text" formControlName="startDate" id="startDate" placeholder="Start Date"
                            class="form-control" bsDatepicker [daysDisabled]="[6,0]" [bsConfig]="bsConfig">
                    </div>
                </div>

                <div class="form-group">
                    <label for="startTime">Start Time: </label>
                    <div class="col-sm-8 input-group">
                        <timepicker formControlName="startTime" id="startTime" [showMeridian]='true'></timepicker>
                    </div>
                </div>

                <div class="form-group">
                    <label for="endDate">End Date: </label>
                    <div class="col-sm-8 input-group">
                        <input type="text" formControlName="endDate" id="endDate" placeholder="End Date"
                            class="form-control" bsDatepicker [daysDisabled]="[6,0]" [bsConfig]="bsConfig">
                    </div>
                </div>

                <div class="form-group">
                    <label for="endTime">End Time: </label>
                    <div class="col-sm-8 input-group">
                        <timepicker formControlName="endTime" id="endTime" [showMeridian]='true'></timepicker>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>