<div class="panel panel-default">
    <!-- Default panel contents -->
    <br>
    <h5>Your Proposals</h5>
    <table class="table table-striped">
        <thead>
            <tr class="tr">
                <th scope="col">Skill Name</th>
                <th scope="col">Sent to Mentor</th>
                <th scope="col">Mentor Email</th>
                <th scope="col">Contact No.</th>
                <th scope="col">Mentor's Confirmation</th>
                <th scope="col">Need Your Final Confirm?</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let proposalData of userProposalList">
                <td>
                    <app-proposal-detail-skill-item [skillId]="proposalData.skillId" [showProperty]="'skillName'">
                    </app-proposal-detail-skill-item>
                </td>
                <td>
                    <app-proposal-detail-mentor-item [mentorId]="proposalData.mentorId" [showProperty]="'mentorName'">
                    </app-proposal-detail-mentor-item>
                </td>
                <td>
                    <app-proposal-detail-mentor-item [mentorId]="proposalData.mentorId" [showProperty]="'mentorEmail'">
                    </app-proposal-detail-mentor-item>
                </td>
                <td>
                    <app-proposal-detail-mentor-item [mentorId]="proposalData.mentorId"
                        [showProperty]="'contactNumber'">
                    </app-proposal-detail-mentor-item>
                </td>
                <td>
                    {{(proposalData.mentorProposal == null)? 'Pending' : (proposalData.mentorProposal == true) ? 'Accepted' : 'Rejected'}}
                </td>
                <td *ngIf="proposalData.userReconfirmProposal == null && proposalData.mentorProposal == true">
                    <app-proposal-user-confirm-btn [proposalData]="proposalData">
                    </app-proposal-user-confirm-btn>
                </td>
                <td *ngIf="proposalData.userReconfirmProposal == null && proposalData.mentorProposal != true ">
                    N/A
                </td>
            </tr>
        </tbody>
    </table>
</div>