<div class="login-form">
    <form (ngSubmit)=onSubmit(userLoginForm) #userLoginForm="ngForm">
        <h2 class="text-center">User Login</h2>

        <div class="form-group">
            <input type="hidden" id="role" name="role" [(ngModel)]="role"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="userName" placeholder="User Name" ngModel required userName
                #userName=ngModel>
            <span *ngIf="!userName.valid && userName.touched">Please enter user name</span>
            <div>
                <span *ngIf="!loginFlag && userName.touched">{{msg}}</span>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="userPassword" placeholder="Password" ngModel required
                #userPassword=ngModel>
            <span *ngIf="userPassword.touched && !userPassword.dirty">Please enter the password</span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!userLoginForm.valid">Sign
                In</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>
    </form>
</div>